name: Android CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-22.04
    #runs-on: windows-latest

    steps:
      #- name: Checkout repository and submodules
      #  uses: actions/checkout@v3
      #  with:
      #   submodules: recursive

      - name: Checkout sources for LiveVideo10ms
        run: git clone https://github.com/Consti10/LiveVideo10ms

      - name: Checkout sources for RenderingX
        run: git clone https://github.com/Consti10/RenderingX

      - name: cd into repo
        run: cd RenderingX

      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: |
          cd RenderingX
          chmod +x gradlew

      - name: Build with Gradle
        run: |
          cd RenderingX
          ./gradlew build